.bottom-navigation {
  position: fixed; /* تثبيت العنصر */
  bottom: 0;       /* جعله في أسفل الصفحة */
  left: 0;         /* جعله يبدأ من يسار الصفحة */
  width: 100%;     /* جعله يمتد بعرض الصفحة بالكامل */
  background-color: #2c2c3c; /* لون خلفية */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); /* ظل للأعلى */
}

.bottom-navigation button {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.bottom-navigation button:hover {
  color: #ffd700;
}
