<div class="register-container">
  <h2>Register</h2>

  <!-- Google Signup -->
  <div class="google-signin">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/4/4d/Google_%22G%22_Logo.svg"
      alt="Google Logo"
    />
  </div>

  <p class="or-text">OR</p>

  <!-- Register Form -->
  <form>
    <div class="form-row">
      <input type="text" placeholder="Full Name" />
    </div>

    <div class="form-row">
      <input type="email" placeholder="E-mail" />
    </div>

    <div class="form-row">
      <input type="text" placeholder="User Name" />
    </div>

    <div class="form-row">
      <input type="password" placeholder="Password" />
    </div>

    <button type="submit">Register</button>
  </form>

  <p class="login-text">
    You not have an account? <a routerLink="/login" class="login-link">Register</a>
  </p>
</div>
